.wrapper {
  width: 100%;
  height: 100vh;
  background: url(../img/login-background.png) no-repeat center / cover;
}
.content-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.title {
  padding: 20px 0 50px;
  text-align: center;
  font-size: 4rem;
  color: #fff;
}
.link-input {
  display: block;
  margin-bottom: 20px;
  padding: 0 60px 0 60px;
  width: 700px;
  height: 70px;
  border-radius: 30px;
  background-color: #575361;
  background-repeat: no-repeat;
  background-size: 30px 30px;
  background-position: 20px;
  font-size: 1.5rem;
  color: #fff;
}
.link-input::placeholder {
  text-align: center;
  color: #fff;
}
.create-question {
  padding-top: 90px;
  text-align: center;
}
.create-question > a {
  padding: 10px 20px;
  font-size: 1.3rem;
  font-weight: 900;
  border: 1px solid #fff;
  color: #fff;
}
.create-question > p {
  margin-bottom: 30px;
  font-size: 1.3rem;
  color: #fff;
}
.create-question > a:hover {
  border: 1px solid #f23463;
  color: #f23463;
}
