.wrapper {
  padding: 30px 0;
}
.content-box {
  margin: 0 auto;
  width: 1000px;
}
.title {
  padding: 20px 0 50px;
  text-align: center;
  font-size: 4rem;
  color: #3e7cf0;
}
.title > span {
  display: inline-block;
  padding: 5px 20px 10px;
  border: 3px solid #3e7cf0;
  border-radius: 50%;
}
.question-content {
  margin-bottom: 70px;
  padding: 20px;
  border-left: 2px solid #3e7cf0;
}
.question-line {
  margin: 20px 0;
}
.question-label {
  display: inline-block;
  width: 100px;
  font-size: 1.3rem;
}
.question-input {
  margin-bottom: 20px;
  padding: 15px;
  width: 800px;
  border-bottom: 1px solid #000;
  font-size: 1.1rem;
}
.label-textarea {
  vertical-align: top;
}
.question-textarea {
  padding: 15px;
  width: 800px;
  height: 100px;
  resize: none;
  border: 1px solid #000;
  border-radius: 5px;
  font-size: 1.1rem;
}
.plus-btn {
  display: block;
  margin-bottom: 20px;
  padding: 10px 20px;
  background-color: #f23463;
  font-size: 1.5rem;
  color: #fff;
}
.save-btn {
  padding: 10px 20px;
  background-color: #3e7cf0;
  font-size: 1.5rem;
  color: #fff;
}
